<table class="table">
  <% Datum.all.each do |data| %>
      <tr class="row">
      <% data.attributes.each_pair do |name, value| %>
        <td>
          <h1><%= value %></h1>
        </td>
      <% end %>
      </tr>
  <% end %>

</table>

